In [14]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [15]:
%autoreload 2

In [1]:
import sys;sys.path.append("../app")
import div7a_tests 
from div7a_tests import *
tables = test1()

input

         date             type term note rate amount days final_balance
0  2014-06-30       loan_start    7
1  2019-06-30  opening_balance                  1000

insert_interest_accrual_records

,date,type,term,note,rate,amount,days,final_balance
0,2014-06-30,loan_start,7,,,,,
1,2015-06-30,interest_accrual,,for period until income year end,5.95,,,
2,2016-06-30,interest_accrual,,for period until income year end,5.45,,,
3,2017-06-30,interest_accrual,,for period until income year end,5.4,,,
4,2018-06-30,interest_accrual,,for period until income year end,5.3,,,
5,2019-06-30,opening_balance,,,,1000,,
6,2019-06-30,interest_accrual,,for period until income year end,5.2,,,
7,2020-06-30,interest_accrual,,for period until income year end,5.37,,,
8,2021-06-30,interest_accrual,,for period until income year end,4.52,,,
9,2022-06-30,interest_accrual,,for period until income year end,4.52,,,

Exception: No previous interest accrual record