In [18]:
import pandas.conftest
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [17]:
%autoreload 2

In [21]:
import pandas
import sys;sys.path.append("../app")
%aimport div7a_tests 
from div7a_tests import *
test1()

[2014-06-30:loan_start({'term': 7}),
 2015-06-30:interest_accrual({'rate': 5.95, 'days': 365}),
 2016-06-30:interest_accrual({'rate': 5.45, 'days': 366}),
 2017-06-30:interest_accrual({'rate': 5.4, 'days': 365}),
 2018-06-30:interest_accrual({'rate': 5.3, 'days': 365}),
 2019-06-30:opening_balance({'amount': 1000}),
 2019-06-30:interest_accrual({'rate': 5.2, 'days': 0}),
 2020-06-30:interest_accrual({'rate': 5.37, 'days': 366}),
 2021-06-30:interest_accrual({'rate': 4.52, 'days': 365})]

In [37]:
f = pandas.DataFrame([{"a":4252,"b":[1,2,3,4,5,6,7,8,9,10]},{"a":[1,2,3,10],"b":[1,2,8,9,10], "c":"xxxx"}])

from IPython.display import display
import pandas as pd
display(f)
display(pd.DataFrame(f))

               a                                b     c
0           4252  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]   NaN
1  [1, 2, 3, 10]                 [1, 2, 8, 9, 10]  xxxx

               a                                b     c
0           4252  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]   NaN
1  [1, 2, 3, 10]                 [1, 2, 8, 9, 10]  xxxx