In [14]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [15]:
%autoreload 2

In [1]:
import sys;sys.path.append("../app")
import div7a_tests 
from div7a_tests import *
tables = test1()

AttributeError: 'list' object has no attribute 'add'

In [37]:

from IPython.display import display
import pandas as pd
display(f)
display(pd.DataFrame(f))

               a                                b     c
0           4252  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]   NaN
1  [1, 2, 3, 10]                 [1, 2, 8, 9, 10]  xxxx

               a                                b     c
0           4252  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]   NaN
1  [1, 2, 3, 10]                 [1, 2, 8, 9, 10]  xxxx