In [1]:
%load_ext autoreload

In [2]:
%autoreload 2

In [3]:
from app.div7a import *
div7a_from_json({'computation_income_year': '1999', 'creation_income_year': '1998', 'lodgement_date': '1999-02-04', 'opening_balance': '298', 'principal_amount': -1, 'repayments': [], 'term': '1'})

input

ensure_opening_balance_exists

insert_interest_accrual_records

with_interest_accrual_days

with_balance_and_accrual

annotate_repayments_with_myr_relevance

with_myr_checks

evaluate_myr_checks

{'income_year': 1999,
 'opening_balance': 298.0,
 'interest_rate': 6.7,
 'min_yearly_repayment': 6.2865753424657544,
 'total_repayment': 0,
 'repayment_shortfall': 6.2865753424657544,
 'total_interest': 2294.6,
 'total_principal': -2294.6,
 'closing_balance': 298.0}