In [1]:
%load_ext autoreload

In [2]:
%autoreload 2

In [4]:
from app.div7a import *
div7a_from_json({'computation_income_year': '1999', 'creation_income_year': '1998', 'lodgement_date': '1999-02-04', 'opening_balance': '298', 'principal_amount': -1, 'repayments': [], 'term': '1'})

SortedList([1998-06-30:loan_start({'principal': None, 'term': 1, 'calculation_income_year': 1999}), 1998-06-30:opening_balance({'amount': 298.0}), 1999-02-04:lodgement({})])

input

ensure_opening_balance_exists

insert_interest_accrual_records

with_interest_accrual_days

with_balance_and_accrual

annotate_repayments_with_myr_relevance

with_myr_checks

TypeError: unsupported operand type(s) for -: 'NoneType' and 'int'